/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
/* Global reset add */

:root {
  --primary-color: #1d1f20;
  --second-color: #ffffff;
  --primary-border: #555e67;
  --border-color: #edeef0;
  --background-color: #f4f5f6;
  --footer-bg-color: #1d1e20;
  --footer-button-color: #31373d;
  --text-color: #9098a0;
}

@font-face {
  font-family: "inter-semi-bold";
  src: url("../assets/fonts/Inter_18pt-SemiBold.ttf");
}

@font-face {
  font-family: "inter-regular";
  src: url("../assets/fonts/Inter_24pt-Regular.ttf");
}

@font-face {
  font-family: "inter-medium";
  src: url("../assets/fonts/Inter_18pt-Medium.ttf");
}

body {
  font-family: "inter-regular", Arial, Helvetica, sans-serif;
}

.header-section {
  padding: 0px 24px 0px;
}

.fund-section {
  background-color: var(--primary-color);
  color: var(--second-color);
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1392px;
  width: 100%;
  margin: 0 auto;
  height: 44px;
  border-radius: 8px;
  gap: 12px;
  font-size: 14px;
  margin: 16px auto;
  position: relative;
  font-family: "inter-semi-bold", Arial, Helvetica, sans-serif;
}

.fund-section .read-more {
  height: 15px;
  border-bottom: var(--second-color) solid 2px;
  font-size: 12px;
  cursor: pointer;
  margin-left: 12px;
  text-decoration: none;
}

.read-more a {
  color: var(--second-color);
  text-decoration: none;
}

.cancel-logo-container {
  all: unset;
  position: absolute;
  right: 16px;
  cursor: pointer;
}

.attio-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1392px;
  width: 100%;
  margin: 0 auto;
}

.attio-logo {
  padding-right: 64px;
}

.nav-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.attio-section .nav-section ul {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.attio-section .nav-section ul li a {
  text-decoration: none;
  color: var(--primary-color);
}

.career-container {
  display: flex;
  gap: 4px;
}

.login-section {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.attio-section .login-section a {
  border-radius: 10px;
  padding: 8px 16px;
  text-decoration: none;
}

.attio-section .login-section .sign-in {
  background-color: var(--second-color);
  border: var(--border-color) solid 1px;
  cursor: pointer;
}

.attio-section .login-section .start-free {
  background-color: var(--primary-color);
  border: var(--primary-border) solid 1px;
  cursor: pointer;
}

.attio-section .login-section {
  text-decoration: none;
}

.attio-section .login-section .start-free {
  color: var(--second-color);
}

.attio-section .login-section .sign-in {
  color: var(--primary-color);
}

.burger {
  display: none;
  height: 32px;
}

.mobile-menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-border);
  display: none;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  right: -100%;
  transition: right 0.5s ease-in-out;
  z-index: 1000;
}

.mobile-menu a {
  color: var(--second-color);
  text-decoration: none;
  padding: 14px;
  border-radius: 5px;
  transition: background 0.3s ease-in-out;
}

.mobile-menu.active {
  right: 0%;
}

.mobile-menu a:hover {
  background-color: var(--primary-color);
}

.attio-margin-top {
  margin-top: 16px;
}

.hidden {
  display: none;
}

@media (max-width: 900px) {
  .nav-section {
    display: none;
  }
  .login-section {
    display: none;
  }

  .burger {
    display: flex;
    all: unset;
    cursor: pointer;
    z-index: 1002;
  }

  .fund-section h3 {
    padding: 0px 40px;
    text-align: center;
    font-family: "inter-medium" Arial, Helvetica, sans-serif;
    font-weight: 500px;
  }

  .fund-section span {
    font-family: "inter-semi-bold" Arial, Helvetica, sans-serif;
    font-weight: 600px;
  }

  .header-section {
    display: flex;
    flex-direction: column-reverse;
  }

  .mobile-menu {
    display: flex;
  }

  .attio-section {
    margin-top: 16px;
  }
}
/* Hero Section */

.hero-section {
  max-width: 826px;
  min-height: 572px;
  margin: 0 auto;
  padding-top: 80px;
}
.announcement-banner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 346px;
  height: 28px;
  margin: 0 auto;
  background-color: var(--background-color);
  border-radius: 15px;
}
.img-container {
  display: flex;
  width: 14px;
  height: 13px;
  background-color: var(--second-color);
}

.announcement-banner .new-span {
  width: 48px;
  height: 26px;
  background-color: var(--primary-color);
  color: var(--second-color);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  cursor: pointer;
}

.text-section {
  max-width: 826px;
  min-height: 352px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 32px;
}

.main-container h2 {
  font-family: "inter-bold", Arial, Helvetica, sans-serif;
  font-size: 87px;
}
.main-container .first-span {
  display: flex;
  justify-content: center;
}

.main-container p {
  max-width: 548px;
  height: 64px;
  font-size: 19px;
  margin: 0 auto;
  padding-top: 32px;
  font-family: Arial, Helvetica, sans-serif;
}

.btn-section {
  display: flex;
  max-width: 266px;
  height: 48px;
  margin-top: 32px;
  gap: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.btn-section a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 128px;
  height: 48px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  background-color: var(--background-color);
}

.btn-section .first-a-link {
  background-color: var(--primary-color);
  color: var(--background-color);
}
.btn-section a {
  text-decoration: none;
  color: var(--primary-color);
}
.second-btn a {
  color: var(--primary-color);
}

.video-container {
  margin-top: 80px;
  position: relative;
  max-width: 1252px;
}

.video-container .main-photo {
  display: flex;
  justify-content: center;
}

@media (max-width: 800px) {
  .main-container span {
    display: flex;
    justify-content: center;
  }
}

/* ? footer section */

.footer-section {
  background-color: var(--footer-bg-color);
}

.footer-container {
  color: var(--primary-border);
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  font-family: "inter-regular", Arial, Helvetica, sans-serif;
}

.footer-attio-logo-section {
  padding: 64px 0 0 94px;
  cursor: pointer;
}

.footer-top-container {
  display: flex;
  justify-content: space-between;
  padding: 32px 94px 64px;
}

.footer-top-container li {
  cursor: pointer;
}

.footer-list-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  line-height: 1.3;
}

.footer-list-container h4 {
  cursor: pointer;
}

.footer-list-container a {
  text-decoration: none;
  color: var(--text-color);
}

.ul-container {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  gap: 6px;
}

.ul-container a {
  color: var(--primary-border);
}

.ul-container li {
  line-height: 1.3;
  transition: color 0.3s ease;
}

.ul-container li:hover {
  color: var(--footer-button-color);
}

.ul-container h4 {
  color: var(--text-color);
  margin-bottom: 6px;
  cursor: pointer;
}

.footer-top-container h4:hover {
  color: var(--footer-button-color);
}

.li-section {
  display: flex;
  gap: 6px;
}

.register-section {
  max-width: 296px;
  width: 100%;
}

.register-section p {
  font-family: "inter-medium", Arial, Helvetica, sans-serif;
}

.register-section button {
  display: flex;
  justify-content: center;
  padding: 12px 16px;
  border-radius: 12px;
  width: 100%;
  cursor: pointer;
}

.register-section .start-for-free:hover {
  background-color: var(--footer-bg-color);
  border: var(--footer-button-color) solid 1px;
}

.register-section .talk-to-sales:hover {
  background-color: var(--footer-button-color);
}

.register-section p {
  margin-bottom: 16px;
  font-size: 16px;
  color: var(--text-color);
}

.register-section .start-for-free {
  background-color: var(--footer-button-color);
  color: var(--second-color);
  border: none;
  margin-bottom: 12px;
}

.register-section .talk-to-sales {
  background-color: var(--footer-bg-color);
  border: var(--footer-button-color) solid 1px;
  color: var(--second-color);
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  padding: 20px 92px 60px;
  border-top: var(--footer-button-color) solid 1px;
}

.footer-bottom span {
  cursor: pointer;
  color: var(--text-color);
}

.footer-bottom .footer-link-section {
  display: flex;
  justify-content: space-between;
}

.footer-span-section {
  margin-right: 32px;
}

.footer-bottom .footer-link-section .footer-img-section {
  cursor: pointer;
}

.footer-img-section {
  display: flex;
  justify-content: space-between;
}

.footer-images {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.footer-bottom .footer-link-section .link-section {
  display: flex;
  margin: 0 12px;
}

.footer-bottom .contact-section {
  position: fixed;
  right: 24px;
  bottom: 24px;
  right: 24px;
  z-index: 1000;
  cursor: pointer;
}

.responsive-contact {
  display: none;
  position: fixed;
  justify-content: end;
  flex-direction: column;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: var(--primary-border);
  right: -100%;
  z-index: 1000;
  border-left: var(--border-color) solid 2px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.responsive-contact input {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  width: 100%;
  height: 35px;
  border-radius: 14px;
  margin: 0 0 30px 10px;
  padding-left: 10px;
  border: var(--footer-bg-color) solid 2px;

  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.responsive-footer-links {
  display: none;
  margin-bottom: 10px;
}

.visible {
  display: flex;
  right: 0;
}

@media (max-width: 900px) {
  .footer-top-container {
    flex-wrap: wrap;
    max-width: 450px;
    gap: 15px;
  }

  .register-section {
    display: none;
  }

  .footer-bottom {
    border-top: none;
    flex-direction: column;
    margin: 0 auto;
  }

  .footer-img-section {
    display: none;
  }

  .footer-container {
    display: grid;
    justify-content: center;
  }

  .responsive-footer-links {
    display: flex;
    max-height: 16px;
    align-items: end;
  }
  .footer-bottom span {
    color: var(--primary-border);
  }
}
